<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            width: 100%;
        }

        th, td {
            padding: 10px;
        }

        th {
            text-align: left;
        }

        .mainRow {
            margin-top: 20px;
            padding: 0px;
        }

        .borderedTable, .borderedTable th, .borderedTable td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        body, b, td, th {
            font-family: 'Times New Roman';
            font-size: medium;
        }

        b {
            font-size: larger;
        }

        #cegAdatokList {
            padding: 0px;
            list-style-type: none;
        }

        .cegAdatItem {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <table border="0" id="baseTable">
        <tr>
            <td>
                <table class="borderedTable">
                    <tr>
                        <td width="40%" valign="middle">
                            <ul id="cegAdatokList">
                                <li><b>Cég neve</b></li>
                                <li class="cegAdatItem">Cég adat1</li>
                                <li class="cegAdatItem">Cég adat2</li>
                                <li class="cegAdatItem">Cég adat3</li>
                            </ul>
                        </td>
                        <td width="20%" align="center">
                            SZERVÍZ JELENTÉS
                        </td>
                        <td width="20%" align="center">
                            Sorszám: @Model.Sorszam
                        </td>
                        <td width="20%" align="center">
                            Státusz: @Model.Statusz
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="mainRow">
            <td>
                <b>Ügyfél adatai</b>
            </td>
        </tr>
        <tr>
            <td>
                <table class="borderedTable">
                    <tr>
                        <td width="30px">Név</td>
                        <td>@Model.Ugyfel.Nev @Model.Ugyfel.Nev2</td>
                    </tr>
                    <tr>
                        <td width="30px">Cím</td>
                        <td>
                            @Model.Ugyfel.SzekhelyOrszag @Model.Ugyfel.SzekhelyIrsz @Model.Ugyfel.SzekhelyTelepules @Model.Ugyfel.SzekhelyCim @Model.Ugyfel.SzekhelyCim2
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="mainRow">
            <td>
                <b>Tervezett dátum</b>
            </td>
        </tr>
        <tr>
            <td>@Model.TervezettDatum.ToString("yyyy.MM.dd.")</td>
        </tr>
        @{
            if (!string.IsNullOrEmpty(Model.Megjegyzes))
            {
                <tr class="mainRow">
                    <td>
                        <b>Megjegyzés</b>
                    </td>
                </tr>
                <tr>
                    <td>@Model.Megjegyzes</td>
                </tr>
            }
        }
        @{
            if (@Model.Tetelek.Count > 0)
            {
                <tr class="mainRow">
                    <td>
                        <b>Tételek</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="borderedTable">
                            <thead>
                                <tr>
                                    <th>Szervíz típus</th>
                                    <th>Státusz</th>
                                    <th>Kerékpár megnevezése</th>
                                    <th>Kulcsazonosító</th>
                                    <th>Megjegyzés</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var tetel in Model.Tetelek)
                                    {
                                        <tr>
                                            <td>@tetel.Tipus</td>
                                            <td>@tetel.Statusz</td>
                                            <td>@tetel.Kerekpar.Megnevezes</td>
                                            <td>@tetel.Kerekpar.KulcsAzonosito</td>
                                            <td>@tetel.Megjegyzes</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>

            }
        }
    </table>
</body>

</html>


